<!DOCTYPE html>
<html lang="de" dir="ltr">
<head>
  <meta charset="utf-8">
  <script crossorigin="anonymous" src="https://kit.fontawesome.com/4d53e5f024.js"></script>
  <title>Dashboard</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
</head>
<body style="min-width: 1867px" class="bg-gray-100">
  <div class="absolute top-0 left-0 bg-blue-900 py-4 h-full w-64">
    <div class="pt-2 pb-4 pl-4 flex">
      <h1 class="uppercase text-blue-600 text-left text-xl leading-none">Dashboard</h1>
      <p class="ml-2 bg-green-500 px-2 rounded-md text-white uppercase font-semibold">Beta</p>
    </div>
    <div class="text-white border-b border-blue-800">
      <div class="mb-3 text-gray-600 font-semibold uppercase text-sm pt-4 pl-4 flex">
        <h1>Accounts</h1>
      </div>
      <!-- when minecraft_name is same as session minecraft_name then mark as logged in to this account -->
      <% accounts.forEach((user) => { %>
        <% if(sessionData.minecraft_name === user.minecraft_name) { %>
          <div class="text-lg font-thin bg-blue-800 pl-2 pr-12 py-2">
            <div class="flex">
              <img src="https://minotar.net/avatar/<%= user.minecraft_name %>/100" class="h-6 w-auto rounded-sm" alt="">
              <a href="#" class="px-1"><%= user.minecraft_name %></a>
            </div>
          </div>
          <% } else { %>
            <div class="text-lg font-thin hover:bg-blue-800 pl-2 pr-12 py-2">
              <div class="flex">
                <img src="https://minotar.net/avatar/<%= user.minecraft_name %>/100" class="h-6 w-auto rounded-sm" alt="">
                <a href="#" class="px-1"><%= user.minecraft_name %></a>
              </div>
            </div>
            <% } %>
        <% }); %>
      <div class="mb-3 font-thin pl-2 pr-12 py-2 hover:bg-blue-800">
        <a href="#" class="text-blue-200 font-semibold hover:text-blue-600 text-lg"><i class="fas fa-plus hover:bg-blue-200 px-1 py-1 rounded-md"></i> Neuen Account</a>
      </div>
    </div>
    <div class="text-white border-b border-blue-800">
      <div class="mb-3 text-gray-600 font-semibold uppercase text-sm pt-4 pl-4 flex">
        <h1>Manage</h1>
      </div>
      <div class="text-md font-semibold tracking-tight hover:bg-blue-800 pl-2 pr-12 py-1">
        <a href="/dashboard/manage/profile" class="px-2">Profil</a>
      </div>
      <div class="text-md font-semibold tracking-tight hover:bg-blue-800 pl-2 pr-12 py-1">
        <a href="/dashboard/manage/privacy" class="px-2">Privatsphäre</a>
      </div>
      <div class="mb-3 text-md font-semibold tracking-tight hover:bg-blue-800 pl-2 pr-12 py-1">
        <a href="/dashboard/manage/posts" class="px-2">Community Posts</a>
      </div>
    </div>
    <div class="text-white border-b border-blue-800">
      <div class="mb-3 text-gray-600 font-semibold uppercase text-sm pt-4 pl-4 flex">
        <h1>Insights</h1>
      </div>
      <div class="text-md font-semibold tracking-tight bg-blue-800 pl-2 pr-12 py-1">
        <a href="/dashboard/insights/player-stats" class="px-2">Spiel Statistiken</a>
      </div>
      <div class="text-md font-semibold tracking-tight hover:bg-blue-800 pl-2 pr-12 py-1">
        <a href="/dashboard/insights/profile-stats" class="px-2">Profil Statistiken</a>
      </div>
      <div class="mb-3 text-md font-semibold tracking-tight hover:bg-blue-800 pl-2 pr-12 py-1">
        <a href="/dashboard/insights/friends-list" class="px-2">Deine Freunde</a>
      </div>
    </div>
    <div class="text-white border-b border-blue-800">
      <div class="my-3 text-md font-semibold tracking-tight pl-16 py-1">
        <a href="/logout" class="bg-red-400 py-1 px-4 hover:bg-red-500 rounded">Ausloggen</a>
      </div>
    </div>
  </div>
    <div class="pl-64 absolute top-0 left-0 w-full" style="min-width: 1867px">
      <div class="w-full border-b flex py-3">
        <div class="ml-auto flex pr-10">
          <div class="py-1 pr-2 border-r border-gray-300">
            <button class="bg-green-500 py-1 px-6 font-semibold text-white rounded focus:outline-none hover:bg-green-600">Erstellen <i class="fas fa-angle-down"></i></button>
          </div>
          <div class="pl-4">
            <img src="https://minotar.net/avatar/dermakku/100" class="h-10 w-10 rounded-full shadow-xl" alt="">
          </div>
        </div>
      </div>
    </div>
  <div class="pl-64 pt-16 w-full h-screen" style="min-width: 1867px">
      <div class="w-full justify-between pt-16 pb-8 text-center">
        <h3 class="leading-none text-gray-800 font-normal text-4xl">Deine Spiel Statistiken</h3>
      </div>
      <div class="flex w-full">
        <!-- #1 card -->
        <div class="shadow-md rounded-2xl p-8 bg-white w-1/4 mx-2 h-full">
          <div class="flex text-gray-800 mb-8">
            <div class="mr-auto">
              <h1 class="text-3xl tracking-tight font-light">Dein Kontostand</h1>
            </div>
            <div class="ml-auto">
              <h1 class="text-xl"><i class="fas fa-money-check text-yellow-400"></i></h1>
            </div>
          </div>
          <div class="leading-none mt-1 flex">
            <div class="mt-8">
              <h3 class="text-green-400 font-semibold text-lg mb-4"><i class="fas fa-chart-line"></i> +3,12%</h3>
              <h1 class="text-gray-900 font-bold text-3xl mr-2"><%= mysqlUser.silver_amount %> Silber</h1>
            </div>
          </div>
        </div>
        <!-- #2 card -->
        <div class="shadow-md rounded-2xl p-8 bg-white w-1/4 mx-2 h-full">
          <div class="flex text-gray-800 mb-8">
            <div class="mr-auto">
              <h1 class="text-3xl tracking-tight font-light">Deine Spielzeit</h1>
            </div>
            <div class="ml-auto">
              <h1 class="text-xl"><i class="fas fa-money-check text-teal-400"></i></h1>
            </div>
          </div>
          <div class="leading-none mt-1 flex">
            <div class="mt-8">
              <h3 class="text-green-400 font-semibold text-lg mb-4"><i class="fas fa-chart-line"></i> +3,12%</h3>
              <h1 class="text-gray-900 font-bold text-3xl mr-2"><%= mysqlUser.playtime_hours %>h <%= mysqlUser.playtime_minutes %>min</h1>
            </div>
          </div>
        </div>
        <!-- #3 card -->
        <div class="shadow-md rounded-2xl p-8 bg-white w-1/4 mx-2 h-full">
          <div class="flex text-gray-800 mb-8">
            <div class="mr-auto">
              <h1 class="text-3xl tracking-tight font-light">Dein Kontostand</h1>
            </div>
            <div class="ml-auto">
              <h1 class="text-xl"><i class="fas fa-money-check text-yellow-400"></i></h1>
            </div>
          </div>
          <div class="leading-none mt-1 flex">
            <div class="mt-8">
              <h3 class="text-green-400 font-semibold text-lg mb-4"><i class="fas fa-chart-line"></i> +3,12%</h3>
              <h1 class="text-gray-900 font-bold text-3xl mr-2"><%= mysqlUser.silver_amount %> Silber</h1>
            </div>
          </div>
        </div>
        <div class="shadow-md rounded-2xl p-8 bg-white w-1/4 mx-2 h-full">
          <div class="flex text-gray-800 mb-8">
            <div class="mr-auto">
              <h1 class="text-3xl tracking-tight font-light">Dein Kontostand</h1>
            </div>
            <div class="ml-auto">
              <h1 class="text-xl"><i class="fas fa-money-check text-yellow-400"></i></h1>
            </div>
          </div>
          <div class="leading-none mt-1 flex">
            <div class="mt-8">
              <h3 class="text-green-400 font-semibold text-lg mb-4"><i class="fas fa-chart-line"></i> +3,12%</h3>
              <h1 class="text-gray-900 font-bold text-3xl mr-2"><%= mysqlUser.silver_amount %> Silber</h1>
            </div>
          </div>
        </div>
        <!-- #4 card -->
      </div>
      <div class="flex w-full py-4">
        <!-- #1 card -->
        <div class="shadow-md rounded-2xl p-8 bg-white w-1/4 mx-2 h-full">
          <div class="flex text-gray-800 mb-8">
            <div class="mr-auto">
              <h1 class="text-3xl tracking-tight font-light">Dein Kontostand</h1>
            </div>
            <div class="ml-auto">
              <h1 class="text-xl"><i class="fas fa-money-check text-yellow-400"></i></h1>
            </div>
          </div>
          <div class="leading-none mt-1 flex">
            <div class="mt-8">
              <h3 class="text-green-400 font-semibold text-lg mb-4"><i class="fas fa-chart-line"></i> +3,12%</h3>
              <h1 class="text-gray-900 font-bold text-3xl mr-2"><%= mysqlUser.silver_amount %> Silber</h1>
            </div>
          </div>
        </div>
        <!-- #2 card -->
        <div class="shadow-md rounded-2xl p-8 bg-white w-1/4 mx-2 h-full">
          <div class="flex text-gray-800 mb-8">
            <div class="mr-auto">
              <h1 class="text-3xl tracking-tight font-light">Dein Kontostand</h1>
            </div>
            <div class="ml-auto">
              <h1 class="text-xl"><i class="fas fa-money-check text-yellow-400"></i></h1>
            </div>
          </div>
          <div class="leading-none mt-1 flex">
            <div class="mt-8">
              <h3 class="text-green-400 font-semibold text-lg mb-4"><i class="fas fa-chart-line"></i> +3,12%</h3>
              <h1 class="text-gray-900 font-bold text-3xl mr-2"><%= mysqlUser.silver_amount %> Silber</h1>
            </div>
          </div>
        </div>
        <!-- #3 card -->
        <div class="shadow-md rounded-2xl p-8 bg-white w-1/4 mx-2 h-full">
          <div class="flex text-gray-800 mb-8">
            <div class="mr-auto">
              <h1 class="text-3xl tracking-tight font-light">Dein Kontostand</h1>
            </div>
            <div class="ml-auto">
              <h1 class="text-xl"><i class="fas fa-money-check text-yellow-400"></i></h1>
            </div>
          </div>
          <div class="leading-none mt-1 flex">
            <div class="mt-8">
              <h3 class="text-green-400 font-semibold text-lg mb-4"><i class="fas fa-chart-line"></i> +3,12%</h3>
              <h1 class="text-gray-900 font-bold text-3xl mr-2"><%= mysqlUser.silver_amount %> Silber</h1>
            </div>
          </div>
        </div>
        <div class="shadow-md rounded-2xl p-8 bg-white w-1/4 mx-2 h-full">
          <div class="flex text-gray-800 mb-8">
            <div class="mr-auto">
              <h1 class="text-3xl tracking-tight font-light">Dein Kontostand</h1>
            </div>
            <div class="ml-auto">
              <h1 class="text-xl"><i class="fas fa-money-check text-yellow-400"></i></h1>
            </div>
          </div>
          <div class="leading-none mt-1 flex">
            <div class="mt-8">
              <h3 class="text-green-400 font-semibold text-lg mb-4"><i class="fas fa-chart-line"></i> +3,12%</h3>
              <h1 class="text-gray-900 font-bold text-3xl mr-2"><%= mysqlUser.silver_amount %> Silber</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-2 mx-auto">
        <a href="#" class="font-thin text-blue-500 text-xl mb-4 hover:underline"><i class="fas fa-question-circle"></i> Erfahre mehr über deine <span class="font-semibold">Profil Statistiken</span> </a>
      </div>
  </div>
</body>
</html>
