<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie-edge" http-equiv="X-UA-Comptatible">

    <!-- Linking Fontawesome -->
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/4d53e5f024.js"></script>

    <title><%= data.username %> - Life in Village</title>

    <!-- Linking CSS -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css" rel="stylesheet">
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet">
</head>
<body>
<section class="p-12">
    <div class="container">
        <h1 class="text-xl font-semibold text-gray-900">Willkommen auf der Profile Page Seite, <%= data.username %> </h1>
        <h1 class="text-xl font-semibold text-gray-900">Dein Minecraftname ist: <%= data.minecraft_name %> </h1>
        <h1 class="text-xl font-semibold text-gray-900">Deine Spielzeit: <%= data.playtime_hours%>h <%= data.playtime_minutes %>m <%= data.playtime_seconds %>s</h1>
    </div>
</section>
</body>
</html>